@model IEnumerable<BlogMgmt.Data.Entities.User>
@{
    Layout="_Layout";
    @* Layout="_LayoutMenu"; *@
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th,
    td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #F2F2F2;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
<div>
    <h2>Users</h2>
  
</div>
<table>
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Country</th>  
            <th>State</th> 
            <th>City</th>
            <th>Mobile</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @prod.FullName
                </td>
                 <td>
                    @prod.EmailId
                </td>
                <td>
                    @prod.Country.Name
                </td>
                <td>
                    @prod.State.Name
                </td>
                <td>
                    @prod.City.Name
                </td>
                <td>
                    @prod.MobileNo
                </td>
             
            </tr>
        }
    </tbody>
</table>